[run]
branch = true
concurrency = thread
omit = tests/*
source = {{ package_name }}

[report]
fail_under = {{ coverage_fail_under }}
exclude_lines =
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    pragma: no cover
    raise NotImplementedError
show_missing = true
